body {
    margin: 0;
    background-color: #FF85A9;
}


header {
    padding: 20px;
    border-bottom: 1px solid #ddd;
    background-color: #fff;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
}
.logo {
    margin-top: 20px;
    margin-bottom: 10px;
}
.logo a {
    text-decoration: none;
    font-family: Great Vibes;
    margin-left: 30px;
    font-size: 42px;
    color: #FF85A9;
    font-weight: bold;
}
.logo a:hover {
    color: #b86b82;
    text-decoration: underline;
}


.add-service {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    margin-left: 2%;
    gap: 50px;
}


.add-service form {
    max-width: 400px;
    margin: 40px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 12px;
}
.add-service form input,
.add-service form textarea {
    width: 90%;
    padding: 12px;
    margin-bottom: 16px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 16px;
}
.add-service form button {
    background-color: #FF85A9;
    border: none;
    color: white;
    padding: 12px 20px;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
}
.add-service form button:hover {
    background-color: #b86b82;
}


.services {
    margin-left: 20px;
    color: black;
    font-family: Great Vibes;
}
.add-service .service-list {
    min-height: 400px;
    overflow: auto;
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 20px 30px rgba(236, 14, 151, 0.7);
    padding: 20px;
}
.add-service table {
    width: 100%;
    border-collapse: collapse;
}
.add-service table th,
.add-service table td {
    padding: 12px;
    border-bottom: 1px solid #ddd;
    text-align: left;
}

.inline-form {
    display: inline-block;
    margin-right: 8px;
}

.inline-form button {
    background-color: #FF85A9;
    border: none;
    color: #fff;
    padding: 6px 12px;
    border-radius: 6px;
    font-size: 14px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.inline-form button:hover {
    background-color: #b86b82;
}

.inline-form button.delete {
    background-color: #dc3545;
}

.inline-form button.delete:hover {
    background-color: #a71d2a;
}
