body{
    margin: 0;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
h1{
    margin-top: 0%;
    font-family: Great Vibes;
    margin-left: 30px;
    font-size: 42px;
    margin-bottom: 10px;
    color: #FF85A9;
}
.navs{
    display: flex;
    gap: 20px;
}
.log a{
    border: 1px solid #FF86AA ;
    display: inline-block;
    padding: 5px 10px;
    color: #FF86AA;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    font-size: 14px;
}
.sign a{
    display: inline-block;
    padding: 5px 10px;
    background-color: #FF86AA;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    font-size: 14px;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #FCF3EE;
}
.container{
    margin: 0 15px;
}
section .form_box{
    width: 100%;
    max-width: 450px;
    padding: 30px;
    background: #ffaec7; 
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0 , 0, 0, 0.1);
}
h2{
    font-size: 34px;
    text-align: center;
    margin-bottom: 10px;
}
input{
    width: 92.5%;
    padding: 20px;
    background: #eee;
    border-radius: 20px;
    border: none;
    outline: none;
    font-size: 10px;
    color: #333;
    margin-bottom: 20px;
}
button{
    width: 100%;
    padding: 12px;
    background: #7494ec;
    border-radius: 12px;
    border: none;
    font-size: 16px;
    color: #fff;
    font-weight: 500;
    margin-bottom: 20px;
}
button:hover{
    background-color: #6884d3;
}
p{
    font-size: 14px;
    text-align: center;
    margin-bottom: 10px;
}
p a{
    color: #7494ec;
    text-decoration: none;
}
p a:hover{
    text-decoration: underline;
}
.error-message{
    padding: 12px;
    background: #f8d7da;
    border-radius: 6px;
    font-size: 16px;
    color: #a42834;
    text-align: center;
    margin-bottom: 20px;
}
