body{
    margin: 0;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.logo a{
    text-decoration: none;
    margin-top: 0%;
    font-family: Great Vibes;
    margin-left: 30px;
    font-size: 42px;
    margin-bottom: 10px;
    color: #FF85A9;
    font-weight: bold;
}
.navs{
    display: flex;
    gap: 20px;
}
.log a{
    border: 1px solid #FF86AA ;
    display: inline-block;
    padding: 5px 10px;
    color: #FF86AA;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    font-size: 14px;
}
.sign a{
    display: inline-block;
    padding: 5px 10px;
    background-color: #FF86AA;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    font-size: 14px;
}
.entrance{
    display: flex;
    justify-content: space-between;
}
.halfL{
    background-color: #FCF3EE;
    width: 65%;
    text-align: center;
    height: 565px;
}
.halfR img{
    width: 100%;
    height: 565px;
    background-color: green;
}
.halfL h2{
    padding-top: 50px;
    padding-left: 40%;
    width: 20%;
}
.others input, select {
    width: 60%;
    padding: 20px;
    background: #eee;
    border-radius: 20px;
    border: none;
    outline: none;
    font-size: 10px;
    color: #333;
    margin-bottom: 20px;
}
.save{
    margin-top: 0;
    padding: 20px;
}
.save button{
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    margin-left: 0px;
    background-color: #FF85A9;
    border-radius: 5px;
    font-weight: bold;
    border: none;
}
.save a{
    margin-left: 25%;
    text-decoration: none;
    color: #FF85A9;
    font-weight: bold;
}
p a{
    color: #7494ec;
    text-decoration: none;
}
p a:hover{
    text-decoration: underline;
}
.error-message{
    padding: 12px;
    background: #f8d7da;
    border-radius: 6px;
    font-size: 16px;
    color: #a42834;
    text-align: center;
    margin-bottom: 20px;
}